html, body {
  height: 100%;
}

body {
  font-family: Montserrat, "Helvetica Neue", sans-serif;
  line-height: 2em;
  padding: 12px;
  box-sizing: border-box;
  color: #333;
  overflow: auto;
  margin: 0 auto;
  background: linear-gradient(135deg, #F6F6F6 50%, #EAE9E7 50%);
}

.wrapper {
  box-sizing: border-box;
  height: 100%;
  overflow: auto;
}

a {
  text-decoration: none;
  color: #333;
  border-bottom: 3px solid #ff7372;
}

a:hover {
  color: #ff7372;
}

p {
  font-weight: 200;
  font-size: 20px;
}

.name {
  font-family: Montserrat, sans-serif;
  font-size: 45px;
  text-transform: uppercase;
  font-weight: 900;
  padding: 12px;
  border: 4px solid #ff7372;
  color: #ff7372;
  display: inline-block;
  position: absolute;
  top: 60px;
  left: 90px;
  margin-bottom: 60px;
}

.container {
  margin: 30px auto 0;
  width: 700px;
  padding: 120px 12px 50px;
  overflow: auto;
  box-sizing: content-box; /* Reverting to default to ensure width remains exactly 700px */
}

article {
  padding: 60px;
}

article::before {
  content: '\2774';
  position: relative;
  top: 0;
  left: -30px;
  color: #ff7372;
  font-size: 34px;
}

article::after {
  content: '\2775';
  position: relative;
  top: 5px;
  left: -30px;
  color: #ff7372;
  font-size: 34px;
}

hr {
  border-bottom: 3px solid #ff7372;
}

.meta {
  text-transform: uppercase;
  font-family: Arial, "Courier New", "Source Sans Pro", sans-serif;
  font-size: 10px;
  letter-spacing: .15em;
}

.meta a:hover {
  color: #333;
}

.inline-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.inline-list li {
  display: inline-block;
}
